<div class = 'post'>
<h2>Single Post Details</h2>
<div class = 'home'><%= link_to 'Home', root_path %></div>
<div class = 'post_container'>
<div class = 'user_posts'>
<h3> <%= @post.title%></h3>
<p class = 'counters'> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
<p><%= @post.text %><p>
</div>
</div>
<div class = "btn_comment_like">
<button class = 'btn_add_comment'><%= link_to 'Add Comment', new_comment_path%></button>
<%= form_with model: @likes do |form| %>
      <%= form.submit "Add Likes", class: 'btn_add_likes' %>
<% end %>
</div>
<%if @post.comments_counter > 0 %>
<div class = 'post_comments'>
 <% @post.comments.each do |comment| %>
 <p><%= comment.author.name%>: <%= comment.text%></p>
<%end%>
<%else%>
<div class = "post_comments"> No Comments</div>
<%end%>
</div>

</div>